<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
  <title>Neruda: Nada Mas</title>
<meta charset="utf-8" />
  <!-- Web font loading must precede stylesheet link -->
<link
href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Open+Sans&display=swap"
rel="stylesheet">  
  <link rel="stylesheet" href="{{url_for("static", filename="css/vtranslate.css")}}">
  <script src="{{ url_for("static", filename="js/jquery-3.4.0.js")}}"></script>
  <script src="{{ url_for("static", filename="js/vtranslate.js")}}"></script>



</head>

<body>
<h1>NADA M&Aacute;S</h1>

<div class="translation">
  <p>
 <div class="chunk">
        <div class="es">De la verdad </div>
        <div class="en hide">with the truth </div>
</div> <!-- chunk -->
<div class="chunk">
        <div class="es"> fui solidario :</div>
        <div class="en hide"> I made my contract :</div>
</div> <!-- chunk -->
<div class="chunk">
        <div class="es">de instaurar luz </div>
        <div class="en hide">to restore light </div>
</div> <!-- chunk -->
<div class="chunk">
        <div class="es"> en la tierra.</div>
        <div class="en hide"> to the earth.</div>
</div> <!-- chunk -->
<br />
<div class="chunk">
        <div class="es">Quise ser </div>
        <div class="en hide">I wished to be </div>
</div> <!-- chunk -->
<div class="chunk">
        <div class="es"> como el pan</div>
        <div class="en hide"> like bread</div>
</div> <!-- chunk -->
<div class="chunk">
        <div class="es">la lucha </div>
        <div class="en hide">The struggle </div>
</div> <!-- chunk -->
<div class="chunk">
        <div class="es"> no me encontr&oacute; ausente.</div>
        <div class="en hide"> never found me wanting.</div>
</div> <!-- chunk -->
<br />
<div class="chunk">
        <div class="es">Pero aqui estoy</div>
        <div class="en hide">But here I am </div>
</div> <!-- chunk -->
<div class="chunk">
        <div class="es"> con lo que am&eacute;,</div>
        <div class="en hide"> with what I loved</div>
</div> <!-- chunk -->
<div class="chunk">
        <div class="es">con la soledad </div>
        <div class="en hide">with the solitude </div>
</div> <!-- chunk -->
<div class="chunk">
        <div class="es"> que perdi :</div>
        <div class="en hide"> I lost :</div>
</div> <!-- chunk -->
<div class="chunk">
        <div class="es">junto a esta piedra </div>
        <div class="en hide">in the shadow of that stone, </div>
</div> <!-- chunk -->
<div class="chunk">
        <div class="es"> no reposo.</div>
        <div class="en hide"> I do not rest.</div>
</div> <!-- chunk -->
<br />
<div class="chunk">
        <div class="es">Trabaja el mar </div>
        <div class="en hide">The sea is working, working </div>
</div> <!-- chunk -->
<div class="chunk">
        <div class="es"> en mi silencio.</div>
        <div class="en hide"> in my silence</div>
</div> <!-- chunk -->
<br />

</div>  <!-- translation -->

 <div class="attribution">
 <p class="author">
  Pablo Neruda, in <cite>We are Many</cite>, tr. 1967 by Alistair
  Reid.
  </p>
   <p>Click any line to reveal or hide an English translation. </p>
   </attribution>
 

</body> </html>
