<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
  <title>Translation</title>
<meta charset="utf-8" />
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for("static", filename="css/vtranslate.css")}}">
  <script src="{{ url_for("static", filename="js/jquery-3.4.0.js")}}"></script>
  <script src="{{ url_for("static", filename="js/vtranslate.js")}}"></script>



</head>

<body>

<h1 class="title">
    {{ g.converted.title | safe }}
</h1>

<div class="translation">
    {% for line in g.converted.verse %}
    {{ line | safe }}
        <br />
    {%  endfor %}
</div>

<div class="attribution">
 <p class="author">
     {{ g.converted.author }} tr. {{  g.converted.translator }}
 </p>
</div > <!-- attribution -->
<p>Click any phrase to reveal or hide an English translation. </p>

</body> </html>
